.headerwarpper{
    padding: 8px 14px;
    background-color: white;
}
.container{
    display: flex;
    .left{
        flex: 1;
    }
    .main{

    }
    .right{
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
}